{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Market Risk Analyst </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-job">
          <div class="data-job" id="data-content">
            <p> 
            Top tier corporate investment bank requires an experienced market risk professional to join a small team responsible for reporting and analysis at EMEA level, including VaR, Sensitivity and Stress Test information. 
            The team also takes on accountability for building out its reporting capability to meet new MI and regulatory requirements. The incumbent will cover all asset classes, and the role offers exposure to senior regional management. 
            This would suit someone with typically 4 years experience relating to Market Risk in the banking sector encompassing derivatives.

            </p>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}
