{% extends "base.html" %}

{% block body %}
<div id="main" style="height: auto">
<div id="content" style="height: auto">
<div class="box" style="height: auto">
<div class="cl"> </div>
<div class="posts">
<div class="title">
<h1 id="data-title">Electrical Engineer</h1></div>
<div class="cl"> </div>
<div class="post-job">
<!--<div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/clover_leaf.jpg" alt="" /></a> </div>-->
<div class="data-job" id="data-content">
<p>  We are seeking an electrical engineer for our business=  </p></div>
</div>
<div class="cl"> </div>
</div>
</div>
<div class="cl"> </div>
</div>
<div class="cl"> </div>
</div>
{% endblock %}