{% extends "base.html" %}

{% block body %}
<div id="main">
    <div id="content">
      <div class="box" style='height: auto'>
        <h2><span>ACCOUNTING & FINANCE</span></h2>
        <div class="cl">&nbsp;</div>
        <div class="posts">
          <div class="post">
            <!-- <div class="image" id="img-1"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div> -->
            <div class="data">
              <h4><a id="link-1" href="#"> </a></h4>
              <p id="data-embed-1"> </p>
            </div>
          </div>
          <div class="post last">
            <div class="image" id="img-2"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
            <div class="data">
              <h4><a id="link-2" href="#">  </a></h4>
              <p id="data-embed-2"> </p>
            </div>
          </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>
	  <div class="box" style='height: auto'>
        <h2><span>ENGINEERING</span></h2>
        <div class="cl">&nbsp;</div>
        <div class="posts">
          <div class="post">
            <div class="image" id="img-3"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
            <div class="data">
              <h4><a id="link-3" href="#"> </a></h4>
              <p id="data-embed-3"> </p>
            </div>
          </div>
          <div class="post last">
            <div class="image" id="img-4"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
            <div class="data">
              <h4><a id="link-4" href="#">  </a></h4>
              <p id="data-embed-4"> </p>
            </div>
          </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>
    
    <div class="box" style='height: auto'>
      <h2><span>HEALTHCARE & NURSING</span></h2>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <div class="post">
          <div class="image" id="img-5"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-5" href="#"> </a></h4>
            <p id="data-embed-5"> </p>
          </div>
        </div>
        <div class="post last">
          <div class="image" id="img-6"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-6" href="#">  </a></h4>
            <p id="data-embed-6"> </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>

    <div class="box" style='height: auto'>
      <h2><span>SALES</span></h2>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <div class="post">
          <div class="image" id="img-7"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-7" href="#"> </a></h4>
            <p id="data-embed-7"> </p>
          </div>
        </div>
        <div class="post last">
          <div class="image" id="img-8"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-8" href="#">  </a></h4>
            <p id="data-embed-8"> </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>


      <div class="cl">&nbsp;</div>
    </div>
    <div class="cl">&nbsp;</div>

  </div>

  {% endblock %}

{% block script %}
<script>
  $(document).ready(function (){

    $.each([
    "{{ url_for('job', folder='accounting', filename='accounts_assistant') }}",
    "{{ url_for('job', folder='accounting', filename='market_risk_analyst') }}",
    "{{ url_for('job', folder='engineering', filename='electronics_engineer_product_design') }}",
    "{{ url_for('job', folder='engineering', filename='skilled_mechanist') }}",
    "{{ url_for('job', folder='healthcare', filename='care_worker') }}",
    "{{ url_for('job', folder='healthcare', filename='rgn_leads') }}",
    "{{ url_for('job', folder='sales', filename='independent_sales_executive') }}",
    "{{ url_for('job', folder='sales', filename='national_account_manager') }}",
    
    ], function(i, a){
      $.get(a, function(data){

        var shortened = $(data).find('#data-content').text().substring(0, 400);
        var title = $(data).find('#data-title').text();
        //var image = $(data).find('#data-img img').attr('src');

        // Embed data into the homepage
        $("#data-embed-" + String(i+1)).text(shortened + '...');
        //$("#img-" + String(i+1) + " img").attr("src", image);
        $("#link-" + String(i+1)).text(title);
      });
      $("#link-" + String(i+1)).attr("href", a)
    });    
  });
</script>
{% endblock %}

